*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.properties
*.bin
*/target
*.iml
*.class
target/
.project
.settings/
.classpath
.gitignore
# 忽略所有的日志和临时文件
*.log
*.tmp
# 忽略build文件夹
app/build
frame/build
/build
# 忽略.idea文件夹
/.idea
